<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trick.backend.mapper.ChargingPileMapper">
    <insert id="addChargingPile">
        insert into charging_pile(pile_no, type, status, power_rate, price_per_kwh,
                                  location_desc, latitude, longitude, create_time, update_time)
        values (#{pileNo}, #{type}, #{status}, #{powerRate}, #{pricePerKwh},
                #{locationDesc}, #{latitude}, #{longitude}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateChargingPile">
        update charging_pile
        <set>
            <if test="pileNo !=null and pileNo != ''">pile_no = #{pileNo},</if>
            <if test="type != null">type = #{type},</if>
            <if test="status != null">status = #{status},</if>
            <if test="powerRate != null">power_rate = #{powerRate},</if>
            <if test="pricePerKwh != null">price_per_kwh = #{pricePerKwh},</if>
            <if test="locationDesc != null and locationDesc != '' ">location_desc = #{locationDesc},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteCharging">
        delete
        from charging_pile
        where id = #{id}
    </delete>


    <select id="getAllChargingPiles" resultType="com.trick.backend.model.pojo.ChargingPile">
        select id,
        pile_no,
        type,
        status,
        power_rate,
        price_per_kwh,
        location_desc,
        latitude,
        longitude,
        create_time,
        update_time
        from charging_pile
        <where>
            <if test="pileNo != null and pileNo != '' ">
                and pile_no like concat('%',#{pileNo},'%')
            </if>
            <if test="status != null ">
                and status = #{status}
            </if>
            <if test="locationDesc !=null and locationDesc != '' ">
                and location_desc like concat('%',#{locationDesc},'%')
            </if>
        </where>
        order by update_time desc
    </select>

    <select id="getChargingPileById" resultType="com.trick.backend.model.pojo.ChargingPile">
        select id,
               pile_no,
               type,
               status,
               power_rate,
               price_per_kwh,
               location_desc,
               latitude,
               longitude,
               create_time,
               update_time
        from charging_pile
        where id = #{id}
    </select>

</mapper>