<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trick.backend.mapper.UserMapper">
    <insert id="addUser" useGeneratedKeys="true" keyProperty="id">
        insert into user(openid, create_time, update_time)
        values (#{openid}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateUser">
        update user
        <set>
            <if test="nickname != null and nickname != '' ">
                nickname = #{nickname},
            </if>
            <if test="avatarUrl != null and avatarUrl != '' ">
                avatar_url = #{avatarUrl},
            </if>
            <if test="phone != null and phone != '' ">
                phone = #{phone}
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateBalance">
        update user
        set balance = #{balance}
        where id = #{id}
    </update>

    <select id="getAllUsers" resultType="com.trick.backend.model.pojo.User">
        select id, openid, nickname, avatar_url, balance, phone, create_time, update_time from user
        <where>
            <if test="nickname != null and nickname != '' ">
                and nickname like concat('%',#{nickName},'%')
            </if>
            <if test="phone != null and phone != '' ">
                and phone = #{phone}
            </if>
        </where>
        order by id desc
    </select>

    <select id="getUserById" resultType="com.trick.backend.model.pojo.User">
        select id,
               openid,
               nickname,
               avatar_url,
               balance,
               phone,
               create_time,
               update_time
        from user
        where id = #{id}
    </select>

    <select id="getUserByOpenId" resultType="java.lang.Integer">
        select id
        from user
        where openid = #{openid}
    </select>

    <select id="getWallet" resultType="java.lang.Double">
        select balance
        from user
        where id = #{id}
    </select>

</mapper>